/* Global CSS */
:root{
    --ms-primary-color:#27548A;
    --ms-danger-color:#BF3131;
    --ms-warning-color:#FFA725;
    --ms-white-color:#fff;
    --ms-success-color:#03A791;
    --ms-secondary-color:#222222;
    --ms-black-color:#000;
    
    --ms-border-color:#D1D1D1;
    --ms-ring-color:rgba(0, 123, 255, 0.5);
}