 

/* Button Color */
.ms-button[data-bg-color="primary"] {
    --btn-bg: var(--ms-primary-color)
}
.ms-button[data-bg-color="danger"] {
    --btn-bg: var(--ms-danger-color)
}
.ms-button[data-bg-color="warning"] {
    --btn-bg: var(--ms-warning-color);
}
.ms-button[data-bg-color="white"] {
    --btn-bg: var(--ms-white-color);
}
.ms-button[data-bg-color="black"] {
    --btn-bg: var(--ms-black-color);
}

/* Text Color */
.ms-button[data-text-color="primary"] {
    --btn-text-color: var(--ms-primary-color);
}

.ms-button[data-text-color="white"] {
    --btn-text-color: var(--ms-white-color);
}

.ms-button[data-text-color="black"] {
    --btn-text-color: var(--ms-black-color);
}

/* Padding Styles */
.ms-button[data-padding="small"] {
    --btn-padding: 5px 10px;
}
.ms-button[data-padding="medium"] {
    --btn-padding: 10px 20px;
}
.ms-button[data-padding="large"] {
    --btn-padding: 15px 30px;
}

/* Radius Styles */
.ms-button[data-radius="small"] {
    --btn-radius: 5px;
}
.ms-button[data-radius="medium"] {
    --btn-radius: 10px;
}
.ms-button[data-radius="large"] {
    --btn-radius: 15px;
}

.ms-button[data-radius="none"] {
    --btn-radius: 0px;
}


/* FontSize Styles */
.ms-button[data-font-size="small"] {
    --btn-font-size: 10px;
}
.ms-button[data-font-size="medium"] {
    --btn-font-size: 13px;
}
.ms-button[data-font-size="large"] {
    --btn-font-size: 21px;
}





.ms-button-container .ms-button {
    cursor: pointer;
    border-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: var(--btn-padding, 10px 20px);
    background-color: var(--btn-bg, var(--ms-primary-color));
    color: var(--btn-text-color, var(--ms-white-color));
    border-radius: var(--btn-radius, 5px);
    font-size: var(--btn-font-size, 13px);
}

.ms-button-container .ms-button:hover {
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.ms-button-container .ms-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--btn-ring-color,var(--ms-ring-color));
 }


 .ms-button-container .ms-button .ms-button-icon.prepend {
    margin-right: 3px;
}
.ms-button-container .ms-button .ms-button-icon.append {
    margin-left: 3px;
}