/* Padding Styles */
.ms-selectbox-container[data-rounded="small"] {
    --select-rounded:1px;
}
.ms-selectbox-container[data-rounded="medium"] {
    --select-rounded: 3px;
}
.ms-selectbox-container[data-rounded="large"] {
    --select-rounded: 5px;
}



.ms-selectbox-container {
    border-radius: var(--select-rounded,3px);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    width: 150px;
    font-family: sans-serif;
    font-size: 11px;
}

.ms-selectbox-container .ms-selectbox-trigger {
    cursor: pointer;
    padding: 3px 5px;
    display: flex;
    justify-content: space-between;

}

.ms-selectbox-container > .ms-selectbox-items {
    visibility: hidden;
    height: 0px;
    transition: all ease-in-out .1s;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.ms-selectbox-container .ms-selectbox-items .ms-selectbox-item {
    padding: 3px 10px;
}
.ms-selectbox-container .ms-selectbox-items .ms-selectbox-item:hover {
    background-color: #cbcbcb;
}